@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Cairo", sans-serif;
  font-weight: 500;
  font-style: normal;
  scrollbar-width: none;
  direction: rtl;
}

::selection {
  background-color: #bbf7d0;
  color: black;
}
